<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title>INVERSTUCASA</title>
    <!--[if mso]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <style>
      table {border-collapse: collapse;}
      td,th,div,p,a {font-size: 16px; line-height: 26px;}
      .spacer,.divider,div,p,a,h1,h2,h3,h4,h5,h6 {mso-line-height-rule: exactly;}
      td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",Helvetica,Arial,sans-serif;}
    </style>
    <![endif]-->

    <style type="text/css">

      /*Framework CSS - removed for demo purposes */

    </style>
  </head>
  <body style="box-sizing:border-box;margin:0;padding:0;width:100%;word-break:break-word;-webkit-font-smoothing:antialiased;">

    <div style="display:none;font-size:0;line-height:0;"><!-- Add your preheader text here --></div>

    <table class="wrapper" cellpadding="15" cellspacing="0" role="presentation" width="100%">
      <tr>
        <td align="center" bgcolor="#EEEEEE">
          <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="700">
            <tr>
              <td align="left" bgcolor="#FFFFFF">
                <!--INVERSTUCASA / logo-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%" style="background-color: #00529c;">
                  <tr>
                    <td style="padding: 30px 20px;">
                      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                          <td class="col" width="640" style="padding: 0 10px; text-align: center;">
                            <img src="https://www.linkpicture.com/q/logo-inverstucasa-vertical_20.png" alt="Inverst Casa, Logo" width="200" height="50">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--ROW / divider-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tr>
                    <td class="divider" bgcolor="#FFFFFF" style="padding: 30px 15px;">
                      <div style="background: #EEEEEE; height: 3px; line-height: 1px;">‌</div>
                    </td>
                  </tr>
                </table>

                <!--ROW / Content-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tr>
                    <td style="padding: 0 20px;">
                      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                          <td class="col" width="660" style="padding: 0 10px; vertical-align: middle;">
                            <h2>Aplicación elegible registrada</h2>
                            <hr>
                            <br>
                            <p>Datos e información de la solicitud: </p>
                            <br/>
                            <ul>
                              <li>ID de solicitud: {{applicationFriendlyID}}</li>
                              <li>ID del cliente: {{clientFriendlyID}}</li>
                              <li>Hora de solicitud: {{join_date}}</li>
                              <li>Nombre: {{name}}</li>
                              <li>E-mail: {{email}}</li>
                              <li>Phone: {{phone}}</li>
                              <li>Referencia o conseguido desde: {{found_throught}}</li>
                            </ul>
                            <br/>
                            <ul>
                              <li>Términos y condiciones aceptados</li>
                              <li>Política de tratamiento de datos aceptada</li>
                              <li>Estado del inmueble: {{apt_status}}</li>
                              <li>Dirección: {{address}}</li>
                              {{#if seniority_aprox}}
                              <li>Años del inmueble: {{seniority}} - Aproximado</li>
                              {{else}}
                              <li>Años del inmueble: {{seniority}}</li>
                              {{/if}}

                              {{#if mt2_aprox}}
                              <li>Metros cuadrados: {{mt2}} - Aproximado</li>
                              {{else}}
                              <li>Metros cuadrados: {{mt2}}</li>
                              {{/if}}

                              {{#if have_gray_work}}
                              <li>¿Tiene obra gris?: Si</li>
                              {{else}}
                              <li>¿Tiene obra gris?: No</li>
                              {{/if}}

                              <li>Tipo de inmueble: {{apt_type}}</li>
                              <li>Cantidad de baños con ducha: {{room_bathroom_count}}</li>
                              <li>Cantidad de baños sin ducha: {{room_without_bathroom_count}}</li>
                              <li>Cantidad de habitaciones: {{room_count}}</li>

                              {{#if have_garage}}
                              <li>¿Tiene garage?: Si</li>
                              <li>Puestos de garage: {{garage_count}}</li>
                              <li>Tipo de garage: {{garage_type}}</li>
                              {{else}}
                              <li>¿Tiene garage?: No</li>
                              {{/if}}

                              <li>Estrato del inmueble: {{apt_stratum}}</li>

                              {{#if apt_additional_garage}}
                              <li>¿Parqueadero adicional?: Si</li>
                              {{else}}
                              <li>¿Parqueadero adicional?: No</li>
                              {{/if}}

                              {{#if apt_additional_laundry}}
                              <li>¿Zona de lavandería?: Si</li>
                              {{else}}
                              <li>¿Zona de lavandería?: No</li>
                              {{/if}}

                              {{#if apt_additional_communal_living}}
                              <li>¿Salón comunal?: Si</li>
                              {{else}}
                              <li>¿Salón comunal?: No</li>
                              {{/if}}

                              {{#if apt_additional_study}}
                              <li>¿Estudio?: Si</li>
                              {{else}}
                              <li>¿Estudio?: No</li>
                              {{/if}}

                              {{#if apt_additional_electric_plant}}
                              <li>¿Planta eléctrica?: Si</li>
                              {{else}}
                              <li>¿Planta eléctrica?: No</li>
                              {{/if}}

                              {{#if apt_additional_green_zone}}
                              <li>¿Zona verde?: Si</li>
                              {{else}}
                              <li>¿Zona verde?: No</li>
                              {{/if}}

                              {{#if apt_additional_kids_zone}}
                              <li>¿Zona niños?: Si</li>
                              {{else}}
                              <li>¿Zona niños?: No</li>
                              {{/if}}

                              {{#if apt_additional_bbq_zone}}
                              <li>¿Zona BBQ?: Si</li>
                              {{else}}
                              <li>¿Zona BBQ?: No</li>
                              {{/if}}

                              {{#if apt_additional_gate}}
                              <li>¿Tiene portería?: Si</li>
                              {{else}}
                              <li>¿Tiene portería?: No</li>
                              {{/if}}

                              {{#if apt_additional_humid_zone}}
                              <li>¿Zona húmeda?: Si</li>
                              {{else}}
                              <li>¿Zona húmeda?: No</li>
                              {{/if}}

                              {{#if apt_additional_elevator}}
                              <li>¿Ascensor?: Si</li>
                              {{else}}
                              <li>¿Ascensor?: No</li>
                              {{/if}}

                              <li>Costo de administración: ${{management_value}}</li>
                              <li>Valor del inmueble: ${{apt_value}}</li>

                              {{#if has_assessment}}
                              <li>¿Zona gravamen?: Si</li>
                              <li>Tipo de gravamen: {{assessment_type}}</li>
                              <li>Banco para el crédito: {{assessment_bank}}</li>
                              <li>Monto de gravamen: ${{assessment_value}}</li>
                              {{else}}
                              <li>¿Tiene gravamen?: No</li>
                              {{/if}}

                              <li>Motivo de venta: {{sell_motivation}}</li>
                            </ul>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--ROW / divider-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tr>
                    <td class="divider" bgcolor="#FFFFFF" style="padding: 30px 15px;">
                      <div style="background: #EEEEEE; height: 3px; line-height: 1px;">‌</div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>