<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title>INVERSTUCASA</title>
    <!--[if mso]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <style>
      table {border-collapse: collapse;}
      td,th,div,p,a {font-size: 16px; line-height: 26px;}
      .spacer,.divider,div,p,a,h1,h2,h3,h4,h5,h6 {mso-line-height-rule: exactly;}
      td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",Helvetica,Arial,sans-serif;}
    </style>
    <![endif]-->

    <style type="text/css">

      /*Framework CSS - removed for demo purposes */

    </style>
  </head>
  <body style="box-sizing:border-box;margin:0;padding:0;width:100%;word-break:break-word;-webkit-font-smoothing:antialiased;">

    <div style="display:none;font-size:0;line-height:0;"><!-- Add your preheader text here --></div>

    <table class="wrapper" cellpadding="15" cellspacing="0" role="presentation" width="100%">
      <tr>
        <td align="center" bgcolor="#EEEEEE">
          <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="700">
            <tr>
              <td align="left" bgcolor="#FFFFFF">
                <!--INVERSTUCASA / logo-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%" style="background-color: #00529c;">
                  <tr>
                    <td style="padding: 30px 20px;">
                      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                          <td class="col" width="640" style="padding: 0 10px; text-align: center;">
                            <img src="https://www.linkpicture.com/q/logo-inverstucasa-vertical_20.png" alt="Inverst Casa, Logo" width="200" height="50">
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--ROW / divider-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tr>
                    <td class="divider" bgcolor="#FFFFFF" style="padding: 30px 15px;">
                      <div style="background: #EEEEEE; height: 3px; line-height: 1px;">‌</div>
                    </td>
                  </tr>
                </table>

                <!--ROW / Content-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tr>
                    <td style="padding: 0 20px;">
                      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                          <td class="col" width="660" style="padding: 0 10px; vertical-align: middle;">
                            <p>Identificador de usuario: <b>{{friendlyID}}</b></p>
                            <br>
                            <p>Valida tu cuenta con el código a continuación: </p>
                            <h1>{{opt}}</h1>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!--ROW / divider-->
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                  <tr>
                    <td class="divider" bgcolor="#FFFFFF" style="padding: 30px 15px;">
                      <div style="background: #EEEEEE; height: 3px; line-height: 1px;">‌</div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>